<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 ">
                    <p>Graduando em Análise e Desenvolvimento de Sistemas pelo IFPB - Campus Cajazeiras, ex-intercambista através do Ciência sem Fronteiras (CsF), onde fiz Ciências da Computação na Western Illinois University (WIU) nos Estados Unidos, nesse período fui duas vezes para lista dos melhores alunos, a chamada Dean's List. Em poucas palavras, sou um rapaz compromissado com o que gosta e apaixonado pela computação.</p>
				</div>
				<div class="col-lg-3">
                    <p>Nunca fiquei preso somente ao que tenho afinidade e sempre fui atrás de me desafiar, consegui chegar aos Estados Unidos, onde fiz estágio numa empresa chamada UTech (dentro da WIU - Western Illinois University), local onde tive a oportunidade de trabalhar na área de segurança de dados. Atualmente, já de volta ao Brasil carrego nas costas toda a bagagem aprendida não só no meu curso, que segundo o ENADE é o segundo melhor do Brasil, como também toda a bagagem adquirida nos EUA.</p>
                </div>
				<div class="col-lg-3">
                    <p>Desde que cheguei já passei pela Recursive Jr., onde comecei como Consultor Júnior e logo me colocaram no cargo de Gerente de Marketing; pela RedeNet Comércio e Soluções, onde era Analista e Desenvolvedor Web/Java/Mobile, e atualmente, estou aplicando meus conhecimentos na Accenture, onde sou um Associate Software Engineer.</p>
                </div>
                <div class="col-lg-3">
                    <p>Desde de criança sempre tive afinidade com tecnologia, sempre fui louco por jogos e filmes (o que não faz de mim um expert em nada, só um nerd mesmo). Minha paixão era criar coisas, e agora já na graduação me encontrei num curso onde consigo colocar minha mente para trabalhar, e ao mesmo tempo posso ver pelo menos uma parte do meu trabalho já pronto em tempo de execução.</br> E antes que eu me esqueça: Meu nome é <strong>Rodrigo de Freitas</strong>.</p>
                </div>
            </div>
        </div>
    </section>